<div class="content">
    <div class="background-overlay"></div>
    <div class="content-container">
        <h1>Planejamento Participativo - Campus Pato Branco</h1>
        <h3 class="activity-list">
            <ul>
                <li>Graduação: <span class="activity-value"><%=@activities_graduacao%></span></li>
                <li>Pós-Graduações: <span class="activity-value"><%=@activities_pos%></span></li>
                <li>Infraestrutura: <span class="activity-value"><%=@activities_infra%></span></li>
                <li>Externos: <span class="activity-value"><%=@activities_ext%></span></li>
            </ul>
        </h3>
        <%
=begin%>
 <h3>Total: <span class="total-value"><%=@activities_total%></span></h3> 
<%
=end%>
    </div>
</div>
