
<div class="content">
    <div class="background-overlay"></div>
      <h1>Planejamento Participativo - 
            Campus Pato Branco</h1>

      <h2>Temos atualmente <%=@activities_total%> Atividades</h2>
      <h3>Sendo <%=@activities_ic%> Iniciações científicas,
          <%=@activities_pos%> Pós-Graduações,
          <%=@activities_mestrados%> Mestrados e 
          <%=@activities_ext%> Projetos de extensão
          </h3>
  </div>
</body>

