
<%= stylesheet_link_tag 'activity' %>

  <div class="background"></div>
    <div class="container">
      <% if notice %>
        <p style="color: green"><%= notice %></p>
      <% end %>

      <h1>Atividades</h1>

      <div class="search-bar">
        <%= form_tag search_activities_path, method: :get do %>
          <%= text_field_tag :query, params[:query], placeholder: "Pesquisar..." %>
          <%= select_tag :filter, options_for_select(["Nome", "Tipo", "Id"], params[:filter]) %>
          <%= submit_tag "Buscar" %>
        <% end %>
    </div>



      <div class="activities">
        <% @activities.each do |activity| %>
          <div class="activity">
            <%= render activity %>
            <p>
              <%= link_to "Detalhes", activity %>
            </p>
          </div>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <%= link_to "Adicionar atividade", new_activity_path, class: "new-activity-link" %>
      <% end %>
    </div>
  </div>
