<%= stylesheet_link_tag "activity" %>

<p style="color: green"><%= notice %></p>


<div class="activities">

  <%= render @activity %>
  <% if user_signed_in? %>
    <%= link_to "Editar atividade", edit_activity_path(@activity), class:"update-button" %>
    <%= button_to "Deletar atividade", @activity, method: :delete, class:"delete-button" %>
  <% end %>

  
</div>
